:root {
  --text: #ead9ff;
  --text-2: #ead9ff;
  --primary: #026ca1;
  --bg: #16171f;
  --bg-2: #1c1d36;
  --red: #f00;
}

/* body.dark {
  --bg: #444;   
  --text: #f3ebeb;
  --bg-2: #626161;
} */

@font-face {
  font-family: "Aeonik";
  src: url("./AeonikTRIAL-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Aeonik";
  src: url("./AeonikTRIAL-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Aeonik";
  src: url("./AeonikTRIAL-Bold.otf");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aeonik, sans-serif;
  /* font-weight: 400; */
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

/* button  */
button {
  font-size: 1rem;
  padding: 7px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
}
.btn {
  background: var(--primary);
}
.btn:hover {
  box-shadow: 0 0 5px var(--primary);
}
.btn_r {
  background: var(--red);
}
.btn_r:hover {
  box-shadow: 0 0 5px var(--red);
}
button:active {
  scale: 0.97;
}

/* a */
a {
  color: var(--text);
  transition: all 0.2s;
  text-decoration: none;
  letter-spacing: 1px;
}
/* p */
p,
ul {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5;
}
@media (min-width: 1020px) {
  p,
  ul {
    font-size: 1.1rem;
  }
}
/* i  */
i {
  font-size: 1.5rem;
}

/* secton */
section {
  position: relative;
  background: var(--bg);
}
section h2 {
  font-size: 1.8rem;
  text-align: center;
  position: sticky;
  top: 0;
  background: var(--bg);
  padding: 20px 0;
  z-index: 1;
}

@media (min-width: 1020px) {
  section h2 {
    font-size: 3rem;
    /* color: var(--text); */
  }
}
/* main --------------------------------------> */
main {
  position: relative;
}

/* Home -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> */
#Home {
  max-height: 100vh;
  width: 100%;
  display: flex;
}

.home_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* home img */
.home_img_container {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* home container */
.home_text_container {
  position: relative;
  width: 100%;
  margin-top: -180px;
  height: 200px;
}
.blur {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#fff0, var(--bg) 79%);
  inset: auto 0% 0%;
}
.home_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 8vw;
}
.home_text h1 {
  letter-spacing: 3.5px;
}

/* Home media */
@media (min-width: 1020px) {
  .home_img {
    height: 100vh;
    width: 60vw;
    margin-top: -5vh;
  }
  .home_text_container {
    height: 300px;
    margin-top: -270px;
  }
  .home_text {
    font-size: 8.4vw;
  }
}

/* About -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> */
#About {
  padding: 40px 4vw 0;
  margin-top: 70px;
}

.about_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
}
/* left  */
.about_left {
  width: 100%;
}
.about_left h3 {
  font-size: 1.5rem;
  padding-bottom: 15px;
  text-align: start;
}
.about_left ul {
  padding-left: 20px;
}

/* right  */
.about_right {
  margin-top: 30px;
  width: 100%;
}
.about_right h3 {
  font-size: 1.5rem;
  padding: 15px 0px 10px;
}
.skills_grid {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skill_card {
  padding: 21px 25px;
  background: var(--bg-2);
  border-radius: 10px;
}
.skill_card h4 {
  font-size: 1.3rem;
  padding: 0 0 15px;
}

.skill_line {
  width: 87%;
  height: 5px;
  background: var(--text);
  position: relative;
  border-radius: 20px;
}
.skill_line span {
  padding: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.skill_line2 {
  width: 73%;
}
.skill_line3 {
  width: 59%;
}
.skill_line4 {
  width: 46%;
}
.skill_line5 {
  width: 91%;
}

/* About media */
@media (min-width: 1020px) {
  .about_container {
    flex-direction: row;
  }
  .about_left {
    padding-right: 30px;
  }
  .about_left h3 {
    text-align: start;
    font-size: 1.7rem;
  }
  .about_right {
    padding-left: 30px;
    margin-top: 0px;
  }
}

/* Services -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> */
#Services {
  padding: 40px 4vw;
  margin-top: 70px;
}

.service_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}
.services {
  background: var(--bg-2);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  gap: 10px;
}
.services i {
  font-size: 80px;
}

.service_text h3 {
  font-size: 1.2rem;
  padding-bottom: 10px;
  letter-spacing: 1px;
  text-align: start;
}
.service_text p {
  font-size: 1rem;
}

/* Services Media */
@media (min-width: 1020px) {
  .service_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services {
    width: 48%;
  }
  .service_text h3 {
    font-size: 1.7rem;
  }
}

/* Projects -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------> */
#Projects {
  min-height: 100vh;
  width: 100%;
  padding: 50px 4vw 0;
  margin-top: 20px;
}

.projects_container {
  height: 100%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  gap: 1vw;
}

/* card */
.projects_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
}

/* card img  */
.card_img_container {
  width: 100%;
  height: 50%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.card_img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  opacity: 1;
  transition: all 0.3s;
}

.card_link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(12, 0, 77, 0.473);
  border-radius: 10px;
  gap: 40px;
  transition: all 0.2s;
}
.card_link a {
  color: var(--bg-2);
  background: var(--text);
  padding: 20px;
  border-radius: 50%;
}
.card_link a:hover {
  box-shadow: 0 0 15px var(--text);
}

.card_img_container:hover .card_img {
  scale: 1.1;
}
.card_img_container:hover .card_link {
  opacity: 1;
}

/* card text */
.card_text h3 {
  font-size: 2rem;
}
.card_text p {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 0 20px;
}
.card_text p span {
  padding: 5px 15px;
  background: var(--bg-2);
  border-radius: 10px;
  margin-right: 10px;
}

/* Projects media */
@media (min-width: 1020px) {
  .projects_card {
    width: 49%;
  }
}

/* Contact me */
#Contact {
  padding: 40px 4vw;
  margin-top: 30px;
  position: relative;
}
h3 {
  text-align: center;
}

.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  padding-top: 50px;
  width: 100%;
  gap: 50px;
}

.contact_left,
.contact_right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.contact_content {
  background: var(--bg-2);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact_content i {
  font-size: 3rem;
}
.contact_content h3 {
  font-size: 1.5rem;
  text-align: start;
}
.contact_content p {
  color: var(--primary);
}

/* right */
.contact_right {
  background: var(--bg-2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.contact_right input {
  margin-bottom: 20px;
}
.contact_right input,
.contact_right textarea {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  background: var(--bg);
  border: none;
  color: var(--text);
  margin-top: 10px;
}
.contact_right label {
  font-size: 1.5rem;
  padding: 5px;
}

input.btn {
  background: var(--primary);
  cursor: pointer;
  margin: 20px 0 0;
  width: fit-content;
  padding: 15px 30px;
  justify-self: flex-end;
}
input.btn:active {
  scale: 0.97;
}

/* Contact media */
@media (min-width: 1020px) {
  h3 {
    font-size: 1.5rem;
  }
  .contact_container {
    flex-direction: row;
  }
  .input_wrapper {
    display: flex;
    gap: 20px;
  }
}

/* Footer */
footer {
  width: 100%;
  padding: 50px 4vw 0;
  background: var(--bg-2);
}

.footer_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}
.footer_left h2 {
  margin-bottom: 10px;
}

.footer_links {
  padding: 20px 0;
}
.footer_links a {
  padding: 15px 10px 10px;
  margin: 0 20px;
  border-radius: 50%;
  background: var(--bg-2);
  box-shadow: 0 0 5px var(--bg);
}
.footer_links a:hover {
  background: var(--bg);
}

.footer_bottom p {
  padding: 30px 0;
  text-align: center;
}

/* Footer media */
@media (min-width: 1020px) {
  .footer_container {
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
  }
  .footer_right h2 {
    text-align: center;
  }
}
